nav {
  width: 100%;
  height: 100px;
  background-color: bisque;
}

.nike-logo {
  width: 300px;
  margin-left: 790px;
}

.video {
  margin-left: 615px;
}

.justdoit {
  margin-left: 735px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}

.About-title {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 400px;
  margin-top: 80px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 40px;
  margin-top: 80px;
}

ul {
  margin-top: 135 px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

ul li {
  list-style: none;
  line-height: 100px;
}

ul li a {
  text-decoration: none;
  font-size: 23px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #1e1e1e;
  padding: 0 20px;
  display: block;
}

.nikeparagraf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.old-but-gold {
  margin-left: 280px;
  margin-bottom: 15px;
}

.img1 {
  width: 650px;
  margin-right: 15px;
}

.img2 {
  width: 650px;
  margin-left: 15px;
}

.team {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 400px;
  margin-top: 80px;
}

.teamparagraf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.team-pictures {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team1 {
  margin-right: 15px;
}

.Men {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 400px;
  margin-top: 80px;
}

.Menparagraf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.Women {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 400px;
  margin-top: 80px;
}

.Womenparagraf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.Kids {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 400px;
  margin-top: 80px;
}

.Kidsparagraf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: sans-serif;
}

table caption {
  text-align: left;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

.span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside {
  width: 100%;
  height: 100px;
  background-color: bisque;
}
